<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Connection Invitation</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Conn. Invitation</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->  

  <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
      <!-- Main row -->
          <div class="row">
          <!-- Left col -->
              <div class="col-md-6">
              <!-- MAP & BOX PANE -->
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Create an invitation connection</h3>
                      </div>
                      <div class="card-body">
                          <div class="login-card-body">
                              <form action="#" method="post">
                                  <div class="input-group mb-3">
                                      <input type="email" class="form-control" placeholder="Email">
                                      <div class="input-group-append">
                                          <div class="input-group-text">
                                              <span class="fas fa-email"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                    <!-- /.col -->
                                    <div class="col-12">
                                      <button type="submit" class="btn btn-primary btn-block">Send an invitation</button>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Create a batch of invitations</h3>
                    </div>
                    <div class="card-body">
                        <div class="login-card-body">
                            <form action="#" method="post">
                                <div class="input-group mb-3">
                                    <input type="email" class="form-control" placeholder="Upload .csv file">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-email"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <!-- /.col -->
                                  <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block">Send an invitation</button>
                                  </div>
                                  <!-- /.col -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                  
              </div>
          </div>
      </div>
      <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<footer class="main-footer">
  <strong>Copyright &copy; 2021-2031 <a href="https://punsarn.asia/">Pansarn Asia</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0
  </div>
</footer>

  
